:root {
  --primaryColor: #f7931e;
  --primaryText: #424040;
  --primaryGradient: linear-gradient(to right, #fff, #f7931e);
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  box-sizing: border-box;
  color: var(--primaryText);
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Montserrat, Helvetica, sans-serif;
}
a,
li {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 950px;
}

.navbar {
  background: var(--primaryGradient);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  height: 50px;
  width: 218.75px;
  padding-left: 15px;
}

.navbar__items {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navbar__item {
  text-align: center;
}

.navbar__item:hover {
  color: #a15600;
}

.navbar__item:last-child {
  padding-right: 17px;
}

/* Landing page */

.landing__background-image {
  text-align: left;
  background-image: url('assets/s1.jpg');
  background-size: cover;
  height: 90vh;
  z-index: 1;
  position: relative;
}

.landing__background-image::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.landing__title {
  color: #fff;
  font-size: 3rem;
  margin: 0;
  padding-top: 80px;
  position: absolute;
  top: 560px;
  margin-right: 50%;
  padding-left: 32px;
  z-index: 3;
}

/* About page */

.about {
  height: 100%;
  width: 100%;
}

.about__title,
.offer__title,
.projects__title,
.contact__title {
  text-align: left;
  font-size: 2.5rem;
  padding: 16px;
  margin-bottom: 16px;
  border-left: 1px dashed #000;
}

.about__body {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.1rem;
}

.about__paragraph {
  padding: 24px;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.5;
}

/* Offer page */

.offer {
  border-top: 2px solid var(--primaryColor);
  height: 100%;
  width: 100%;
}

.offer__lead {
  font-size: 1.4rem;
  padding-left: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.offer__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}

.offer__item {
  font-size: 1.05rem;
  padding: 24px 32px 0 32px;
}

.offer__subtitle {
  font-size: 1.15rem;
}

.offer__description {
  font-size: 1.1rem;
  padding-left: 24px;
}
.offer__item:last-child {
  margin-bottom: 25px;
}

/* Projects page */

.projects {
  border-top: 2px solid var(--primaryColor);
  height: 100%;
  width: 100%;
}

.projects__lead {
  font-size: 1.25rem;
  padding-bottom: 10px;
  font-weight: 600;
}

.projects__list-item {
  font-size: 1.1rem;
  list-style-type: disc;
  padding: 16px 0;
}
.projects__btn-positioning {
  width: 100%;
  height: 75px;
  text-align: left;
}

.projects__btn-more {
  display: inline-block;
  font-size: 1.1rem;
  padding: 20px;
  text-decoration: underline;
  margin-left: 650px;
}
.projects__btn-more:hover,
.contact__email:hover {
  cursor: pointer;
  color: var(--primaryColor);
}

.projects__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.projects__modal-container {
  text-align: right;
  height: 80%;
  width: 50%;
  margin: 70px auto;
}
.projects__modal-btn {
  font-size: 3rem;
  padding: 5px;
  color: white;
}
.projects__modal-btn:hover {
  cursor: pointer;
  color: var(--primaryColor);
}
.projects__modal-content {
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  height: 90%;
  width: 100%;
  overflow: auto;
}
.projects__modal-list-item {
  list-style-type: disc;
  padding: 10px 0;
}

/* Contact */
.contact {
  font-size: 1.3rem;
  border-top: 2px solid var(--primaryColor);
  height: 100%;
  width: 100%;
}
.contact__information {
  text-align: center;
}

.contact__label {
  margin-bottom: 5px;
  font-weight: 600;
}
.contact__email {
  text-decoration: underline;
}
.contact__details {
  margin: 0;
}
.contact__additional {
  margin: 30px 0;
}

/* Footer */
.footer {
  font-size: 0.9rem;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  background: var(--primaryGradient);
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

/* Responsivity */

@media only screen and (max-width: 1280px) {
  .landing__title {
    font-size: 2.3rem;
  }
  .navbar__items {
    width: 50%;
    font-size: 0.9rem;
  }
  .offer__lead,
  .projects__lead {
    display: inline-block;
    text-align: left;
    margin-left: 16px;
    margin-right: 24px;
  }
  .projects__modal-container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    /* font-size: 0.9rem; */
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .navbar__items {
    position: absolute;
    height: 90vh;
    width: 100vw;
    margin: 0;
    top: 10vh;
    right: -120vw;
    background: var(--primaryGradient);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease-in;
  }
  .navbar__item {
    opacity: 0;
  }

  .landing__title {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    top: 280px;
    padding-right: 320px;
    padding-left: 32px;
  }
  .about__title,
  .offer__title,
  .projects__title,
  .contact__title {
    font-size: 2rem;
    border: none;
  }
  .about__body {
    flex-direction: column;
    font-size: 1rem;
  }
  .offer__lead,
  .projects__lead {
    font-size: 1.1rem;
    display: inline-block;
    text-align: left;
    margin-left: 16px;
    margin-right: 24px;
  }
  .offer__subtitle {
    font-size: 1.1rem;
  }
  .offer__description {
    margin: 0;
    padding: 0 5px;
    font-size: 1rem;
  }
  .projects__list-item {
    font-size: 1rem;
    margin: 0;
    padding: 10px
  }
  .projects__btn-more {
    font-size: 1rem;
    margin-left: 60%;
  }
  .projects__modal-container {
    width: 90%;
    height: 90%;
    margin: 30px auto;
  }
  .contact {
    font-size: 1rem;
  }

  @keyframes navbarItemFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media only screen and (min-width: 600px) and (max-height: 875px) {
  .landing__title {
    font-size: 2rem;
    padding-top: 48px;
    top: 128px;
    padding-right: 112px;
  }
}

/* Additional classes */
.navbar--active {
  transform: translateX(-120vw);
}
